      <div class="row">
        <div class="col-md-12">
	  <h1 class="display-3">List of authors</h1>
[% FOR author IN authors -%]
          <h2>[% author.name %]</h2>
          <ul>
[%   FOR book IN author.books.sort('title') -%]
            <li><a href="/books/[% book.slug %]/"><b>[% book.title %]</b></a></li>
[%   END -%]
          </ul>
[% END -%]
        </div>
      </div>
