<a class="twitter-timeline" data-height="700" href="https://twitter.com/perl_school?ref_src=twsrc%5Etfw">Tweets by perl_school</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
